/* global styles */
@import "reset.css";
@import "typography.css";

/*.layout and view styling */
@import "../server/layouts/base.css";
@import "../server/views/index.css";

/* component styling */
@import "../server/components/weather/weather.css";
@import "../server/components/bier/bier.css";

@font-face {
  font-family: Bourbon;
  src: url(/font/BourbonGrotesque-Regular.otf) format("opentype");
}

body {
  color: black;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}
