/* global styles */
@import "reset.css";
@import "typography.css";

/*.layout and view styling */
@import "../server/layouts/base.css";
@import "../server/views/index.css";

/* component styling */
@import "../server/components/weather/weather.css";
@import "../server/components/bier/bier.css";
@import "../server/components/bier_details/bier_details.css";
@import "../server/components/city/city.css";

@font-face {
  font-family: Bourbon;
  src: url(/public/font/BourbonGrotesque-Regular.otf) format("opentype");
}

@font-face {
  font-family: Thunder;
  src: url(/public/font/Thunder-VF.ttf);
}

body {
  color: black;
  max-width: 1440px;
}
