.weather {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100vw;
  height: 20vh;
}

.weather img {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 0;
  margin-right: -5em;
}

h2,
p {
  font-family: Bourbon;
  text-align: center;
  color: white;
  width: 100%;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 6em;
}

p:last-of-type {
  font-size: 1em;
}
