.weather {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100vw;
  height: 20vh;

  img {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 0;
  }

  h2,
  p {
    font-family: Thunder;
    text-align: center;
    color: white;
    width: 100%;
  }

  h2 {
    font-size: 4em;
  }

  p {
    font-size: 6em;
    font-weight: 700;
    letter-spacing: 10px;
  }

  p:last-of-type {
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 1px;
  }
}
