body {
  background: linear-gradient(
    to bottom,
    #fff9e5,
    #f9d976,
    #f6b042,
    #d98e04,
    #8b5e00
  );
  overflow-x: hidden;
}

header {
  position: relative;
  width: 100vw;
  background-size: auto;
  background-repeat: no-repeat;
  z-index: 2;

  img {
    margin-top: calc(0em - 25vw);
    width: 100vw;
    object-fit: fill;
    object-position: center;
  }
}

footer {
  padding: 1rem;
}

.bier-glas-achtergrond {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100dvh;
  background: linear-gradient(
    to bottom,
    #fff9e5,
    #f9d976,
    #f6b042,
    #d98e04,
    #8b5e00
  );
  z-index: -2;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  display: block;
}
