{% layout "server/layouts/base.liquid" %}

{% block content %}

<h1>BierWeer</h1>

{%  render 'server/components/weather/weather.liquid', weather: weather %}

{%  render 'server/components/bier/bier.liquid', bier: bier %}

{% endblock %}

