h1 {
  font-family: Thunder;
  font-size: calc(6rem + 10vw);
  font-weight: 800;
  text-align: center;
  margin-top: calc(0.2em - 15vw);
  width: 100dvw;
  text-transform: uppercase;
}

h1:hover {
  content: "WeerBier";
}
