.city {
  width: 100dvw;
}

.city-form {
  margin: 1rem 0;
  text-align: center;
}

.city-form label {
  display: block;
  font-family: Thunder;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: start;
  color: #fff;
  width: 90dvw;
  margin: auto auto 0.2em auto;
}

.city-form input {
  padding: 1rem;
  font-size: 1rem;
  width: 90dvw;
  border-radius: 10px;
  border: none;
}

.city-form button {
  padding: 1rem 2rem;
  font-size: 1rem;
  margin-top: 1em;
  cursor: pointer;
  border-radius: 10px;
}

.city h2 {
  color: white;
  font-size: 2em;
  margin: 0.5rem 0 0 1rem;
}

#find-me {
  color: cornflowerblue;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  border: none;
  text-decoration: none;
  margin: 0.5rem 0 0 1rem;
  padding: 0.5rem;
}

#status {
  color: white;
  font-size: 1em;
  margin: 0.5rem 0 0 1rem;
}

@media only screen and (min-width: 600px) {
  .city h2 {
    margin: 0.5rem 0 0 5vw;
  }

  #find-me {
    margin: 0.5rem 0 0 5vw;
  }

  #status {
    margin: 0.5rem 0 0 5vw;
  }
}
