.bier {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;

  img {
    width: 40%;
    max-width: 250px;
  }

  img:first-of-type,
  img:last-of-type {
    width: 25%;
    max-width: 250px;
  }
}
