{% block bier %}
<div class="bier">
<img src="/images/pils.png" alt="aangeraden biertje 1">
<img src="/images/pils.png" alt="aangeraden biertje 2">
<img src="/images/pils.png" alt="aangeraden biertje 3">
</div>
{% endblock %}